a{color:#222;text-decoration:none}
a:hover{color:#b2d830}
body{background:url("../img/grey_wash_wall.png") repeat;color:#333;font-family:"Open Sans",Arial;font-size:16px;height:100%}
header{background:#222;border-bottom:3px solid #b2d830;color:#ddd;margin:0;padding:1em;position:fixed;width:100%;}
header #titulo_nav{width:70%;}
header #titulo_nav nav a{color:#fff;border-left:1px solid #b2d830;border-right:1px solid #b2d830;border-bottom:4px solid #b2d830;font-size:.8em;padding:.1em 1em;text-decoration:none}
header #titulo_nav nav a:hover{border-color:#fff}
header h1{font-size:40px;font-weight:normal;margin:0;padding:0}
header #logo img{height:80px;width:80px}
header #titulo_web{padding:.5em;width:70%}
header #logo,header #titulo_nav{display:inline-block;vertical-align:top}
.ancho-sitio{width:90%;max-width:950px}
.wrap{display:block;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box}
.clear{*zoom:1}
.clear:before,.clear:after{display:table;line-height:0}
.clear:after{clear:both}
#contenido{background-color:#fff;background:-webkit-gradient(linear,0% 0%,0% 100%,from(#ccc),to(#fff),color-stop(.5,#ccc));background:-moz-linear-gradient(top,#ccc 0%,#ccc 50%,#fff 100%);background-image:-ms-linear-gradient(top,#ccc 0%,#fff 100%);background-image:linear-gradient(to bottom,#ccc 0%,#fff 100%);-moz-box-shadow:0 0 19px -3px #000;-webkit-box-shadow:0 0 19px -3px #000;box-shadow:0 0 19px -3px #000;border:1px solid #666;overflow:hidden;margin:0 auto;}
.columna{display:block;float:left;padding-left:25px}
.columnas{margin-left:-25px;}
.columnas img{vertical-align:middle;width:100%}
.pacman{min-height:270px}
p{margin:10px 0;}
p #columna_pequena{background:#ffa500;}
p #columna_pequena figure{float:left}
p #columna_pequena img{height:40px;width:40px;padding:.5em}
p #columna_grande,p #columna_pequena{border-radius:.5em}
footer{background:#222;color:#fff;padding:2em}
@media screen and (min-width:600px){.columna_1{width:60%}
.columna_2{width:40%}
}