@media screen and (min-width:768px)
	#contenido
		margin-bottom 2%
		width 950px

	#columna_grande
		width 60%
		
	#columna_pequena
		width 30%
		
	#columna_grande,#columna_pequena
		display inline-block
		vertical-align top
		margin-top: 6.7%;
		margin-left: 3%;

footer
	article
		margin auto
		width 950px